vendor
node_modules
composer.lock
.data
web/
venv/
BERT/modelo_bibliografia
imagens_enem
SVGmodel/manual_classification/runs/detect
SVGmodel/manual_classification/dataset/images
SVGmodel/manual_classification/dataset/labels
.venv/
.env